@use './root' as *;
@mixin flexBox($justify, $align, $direction, $gap: 0) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
	gap: $gap;
}

@mixin icons($color, $hover_color:"", $size:$font_24) {
	color: $color;
	font-size: $size;
	transition: color 0.3s ease;
	cursor: pointer;

	&:hover {
		color: $hover_color;
	}
}
