/* Colors root */
$brand_color:#359740;
$text_secondary:#70737C;
$text_primary:#1F2533;
$light_gray:#EAF1EB;
$light_grey_stroke:#EFEFEF;
$light_blue:#EFF2F8;
$yellow_color:#FFCF55;

/* Font */
	$font_14:0.875rem;
	$font_24:1.5rem;
